<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form id="zzz">
<table>
    <thead>
        <tr>
            <th>No</th>
            <th>Title</th>
            <th>Content</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="board : ${boardList}">
            <td th:text="${board.brdNo}"></td>
            <td>
	            <input type="button" th:onclick="subMit([[${board.brdNo}]])" th:value="${board.brdSub}"/>
    		</td> 
            <td th:text="${board.brdContent}"></td>
            <td th:text="${board.brdDate}"></td>
        </tr>
    </tbody>
</table>
</form>
<button type="button" onClick="location.href='/writeBoard'" >글 작성하기</button>

<script type="text/javascript">

  /* $(document).ready(function() {
    $("#detail").click(function() {
    	e.preventDefault();
    	//var formData = $("#mbtiForm").serialize();
    	var brdNo = $(this).attr("data-brdNo");
    	$.ajax({
            type: "GET",
            url: "/detailBoard",
            data: { No: brdNo },
            success: function(data) {
                alert("이동하기");
            },
            error: function() {
                alert("서버와의 통신에 실패했습니다.");
            }
        });
    });
}); 
  */
  
  function subMit(brdNo) {
	  //var data1 = {No : data2};
	  //onclick에서 brdNo를 받아와 brdNo에 넣고 map형식의 parms로 get에 보낸다 이때 brdNo=No
	  location.href = '/detailBoard?No='+ brdNo;
	  
  }
</script>

</body>
</html>