<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form id="detailBoard">
<!-- [[${detailboard}]] -->
<h2>제목</h2>
<div th:text="${detailboard.brdSub}"></div>

<h2>내용</h2>
<div th:text="${detailboard.brdContent}"></div>

<!-- 게시글에 이미지가 없을 시 "?" 을 추가시 테이블 확인도 가능 -->
<!-- 단일처리
<div th:if="${not #strings.isEmpty(fileBoard?.fileOriName)}">
<img th:src="@{/image/{fileName}(fileName=${fileBoard.fileName})}" alt="이미지" width="500" height="500"/>
<div th:text="${fileBoard.fileOriName}"></div>
</div>  
-->
<!-- 다중파일처리 -->
<div th:if="${not #lists.isEmpty(fileBoard)}">
    <div style="display: flex; flex-wrap: wrap;">
        <div th:each="file : ${fileBoard}" style="margin-right: 10px; margin-bottom: 10px;">
            <img th:src="@{/image/{fileName}(fileName=${file.fileName})}" alt="이미지" style="width: 200px; height: auto; margin-bottom: 5px;"/>
            <div th:text="${file.fileOriName}"></div> 
        </div>
    </div>
</div>


<input type="hidden" th:value="${detailboard.brdSub}" id="brdSub">
<input type="hidden" th:value="${detailboard.brdContent}" id="brdContent">
<input type="hidden" th:value="${detailboard.brdNo}" id="brdNo">

<!-- <button type="button" id="update-btn" onClick="location.href='/writeBoard'" >수정</button> -->
<button type="button" id="update-btn" th:onclick="updateBoard([[${detailboard.brdNo}]])" >수정</button>
<button type="button" id="delete-btn">삭제</button>
<button type="button" onClick="location.href='/board'" >목록으로</button>

</form>

<script type="text/javascript">
$(document).ready(function() {
    $("#delete-btn").click(function() {
        
        var dataToSend = {
            brdSub: $("#brdSub").val(),
            brdContent: $("#brdContent").val(),
            brdNo: $("#brdNo").val()
        };

        $.ajax({
            type: "POST",
            url: "/deleteBoard",
            contentType: "application/json", // 요청 데이터의 타입을 JSON으로 설정
            data: JSON.stringify(dataToSend), // 데이터를 JSON 문자열로 변환
            success: function(data) {
                alert("삭제 완료 ");
                window.location.href = "/board";
            },
            error: function() {
                alert("삭제 실패");
            }
        });
    });
});

function updateBoard(brdNo) {
	//var brdNo = $("#brdNo").val();
		
	location.href = '/updateBoard?No='+ brdNo;
	  
}

</script>

</body>
</html>