<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- <form action="mbtiSubmit" method="post"> -->
<form id="mbtiForm">
   <ul>
        <li th:each="list,iterStat : ${commentList}">
        <p th:text="${list.mbtiComment}"></p>
            동의
         	<input type="radio" th:attr="name=${list.mbtiType + iterStat.index}" th:value="7" >
			<input type="radio" th:attr="name=${list.mbtiType + iterStat.index}" th:value="6">
			<input type="radio" th:attr="name=${list.mbtiType + iterStat.index}" th:value="5">
			<input type="radio" th:attr="name=${list.mbtiType + iterStat.index}" th:value="4" checked="checked">
			<input type="radio" th:attr="name=${list.mbtiType + iterStat.index}" th:value="3">
			<input type="radio" th:attr="name=${list.mbtiType + iterStat.index}" th:value="2">
			<input type="radio" th:attr="name=${list.mbtiType + iterStat.index}" th:value="1">
			<!-- <input type="text" th:value="${list.mbtiType}" id="mbtiType"> -->
			<!-- <input type="text" th:attr="name=${'type_' + iterStat.index}" id="mbtiType" th:value="${list.mbtiType}"> -->
			비동의
        </li>
   </ul>
<button type="button" id="submit-btn">MBTI 검사하기</button>
</form>
<!--  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
src="https://code.jquery.com/jquery-3.2.1.min.js"  -->
<script type="text/javascript">

$(document).ready(function() {
    $("#submit-btn").click(function() {
    	var formData = $("#mbtiForm").serialize();
    	/* var formData = 
    	 {
             formList: $("#mbtiForm").serialize(),
             type: $("#mbtiType").serialize()
         }; */
    	
    	$.ajax({
            type: "POST",
            url: "/mbtiSubmit",
            //data: JSON.stringify(formData),
            data: formData,
            success: function(resultMbti) {
                alert("MBTI 결과: " + resultMbti);
            },
            error: function() {
                alert("서버와의 통신에 실패했습니다.");
            }
        });
    });
});

</script>

</body>
</html>