<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form id="detailBoard">
<div>Title</div>
<input name="brdSub" id="brdSub"  th:value="${detailboard.brdSub}">

<div>Content</div>
<textarea name="brdContent" id="brdContent" th:text="${detailboard.brdContent}">
</textarea>

<input type="hidden" th:value="${detailboard.brdNo}" id="brdNo">

<button type="button" id="update-btn">수정하기</button> 
<button type="button" onClick="location.href='/board'" >목록으로</button>


</form>
<script type="text/javascript">

$(document).ready(function() {
    $("#update-btn").click(function() {
        
        var dataToSend = {
            brdSub: $("#brdSub").val(),
            brdContent: $("#brdContent").val(),
            brdNo: $("#brdNo").val()
        };

        $.ajax({
            type: "POST",
            url: "/updateBoard",
            contentType: "application/json", // 요청 데이터의 타입을 JSON으로 설정
            data: JSON.stringify(dataToSend), // 데이터를 JSON 문자열로 변환
            success: function(data) {
                alert("수정 완료 ");
                window.location.href = "/board";
            },
            error: function() {
                alert("수정 실패");
            }
        });
    });
});


</script>
</body>
</html>