<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1>글 작성</h1>
<form id="writeBoard" enctype="multipart/form-data" action="/writeBoard" method="post">
<!-- <form id="writeBoard"> -->

<div>제목</div>
<div>
<input name="brdSub" id="sub" type="text">
</div>

<div>내용</div>
<div>
<textarea name="brdContent" id="content"></textarea>
</div>
<DIV>
<input type="file" name="file" id="file" multiple/>
</DIV>
<!-- <button type="button" id="write-btn">글 작성하기</button> -->
<button type="submit" id="write-btn" onClick="location.href='/board'">글 작성하기</button>
<button type="button" onClick="location.href='/board'" >목록으로</button>

</form>
<script type="text/javascript">

$(document).ready(function() {
    $("#write-btn").click(function() {
        // 여기에서 서버로의 요청 및 데이터 전송 로직을 추가
        alert("글 작성 성공");
        window.location.href = "./board";
    });
});

</script>
</body>
</html>