<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1>글 작성</h1>
<form id="writeBoard">

<div>제목</div>
<div>
<input name="brdSub" id="brdSub" type="text">
</div>

<div>내용</div>
<div>
<textarea name="brdContent" id="brdContent"></textarea>
</div>
<button type="button" id="write-btn">글 작성하기</button>
<button type="button" onClick="location.href='/board'" >목록으로</button>
</form>
<script type="text/javascript">

$(document).ready(function() {
    $("#write-btn").click(function() {
    	var brdSub = $("#brdSub").val();
    	var brdContent = $("#brdContent").val();
    	$.ajax({
            type: "POST",
            url: "/writeBoard",
            data: {
                brdSub: brdSub,
                brdContent: brdContent
            },
            success: function(data) {
            	if(data <= 0) {
            		alert("글 작성 실패 ");
            	} else {
            		alert("글 작성 성공");
            		window.location.href = "/board";
            	}
            },
            error: function() {
                alert("작성 실패");
            }
        });
    });
});

</script>
</body>
</html>