<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BoardMapper">

	<insert id="insertBoard">
        INSERT INTO board_table (brd_sub, brd_content, brd_date)
        VALUES (#{brdSub}, #{brdContent}, CURRENT_TIMESTAMP)
    </insert>
    
    <select id="getBoard" resultType="BoardForm">
		select 
			brd_no 		AS brdNo,
			brd_sub 	AS brdSub,
			brd_content AS brdContent,
			brd_date 	AS brdDate
		 from board_table
	</select>
	
	<delete id="deleteBoard">
		delete from board_table 
			where brd_sub = #{brdSub}
	</delete>
    
</mapper>
