<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BoardMapper">
<!--  	brd_no		int		PRI		auto_increment
		brd_sub		varchar(50)				
		brd_content	varchar(4000)				
		brd_date	datetime		-->		
	<insert id="insertBoard" parameterType="BoardForm" useGeneratedKeys="true" keyProperty="brdNo">
        INSERT INTO board_table (brd_sub, brd_content, brd_date)
        VALUES (#{brdSub}, #{brdContent}, CURRENT_TIMESTAMP)
    </insert>
    
    <select id="getBoard" resultType="BoardForm">
		select 
			brd_no 			AS brdNo,
			brd_sub 		AS brdSub,
			brd_content 	AS brdContent,
			brd_date 		AS brdDate
		 from board_table
	</select>
	
	<delete id="deleteBoard">
		delete from board_table 
			where brd_sub 	= #{brdSub}
			and brd_content = #{brdContent}
			and brd_no 		= #{brdNo}
	</delete>
    
    <update id="updateBoard">
    update board_table set 
		brd_sub = #{brdSub},
        brd_content = #{brdContent}
    where brd_no = #{brdNo}
    </update>
    
    <select id="detailBoard" resultType="Map">
    	select 
			brd_no 			AS brdNo,
			brd_sub 		AS brdSub,
			brd_content 	AS brdContent,
			brd_date 		AS brdDate
		 from board_table
		 where 	brd_no = #{brdNo}
    </select>
    
</mapper>
